#wrapper-footer {
    padding: 0 1em;
    overflow: hidden;
}

.site-info {
    &:before {
        content: '';
        height: 1px;
        position: relative;
        background-color: rgba($grey, 0.75);
        display: block;
        margin-bottom: 3em;
    }
}

.footer-row {
      padding-bottom: 3em;
    .footer-cols {
        font-family: $playFair;
        font-size: 1rem;
        color: $grey;
      

        p {
            margin: 0;
        }

        @include media-breakpoint-down(md) {
            text-align: center;
            p,a{
                margin-bottom: .25em;
            }
        }

        a {
            color: $grey;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease;
            text-align: center;

            &:hover {
                color: darken($grey, 25%);
            }

            i {
                margin-left: .35em;
            }
        }
    }
    .socials{
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: center;
        p{
            margin-right: 1em;
        }
        i{
            font-size: 1.5rem;
        }
    }

}
