#wrapper-navbar {
	display: flex;
    @include media-breakpoint-down(md){
        background-color: $white;
    }

	.navbar {
		display: flex;
		width: 100%;
		padding: 0;

		&.scrolled {
			position: fixed;
			width: 100%;
			background-color: $white !important;
			z-index: 99999;
			transition: all .2s ease;

			#navbarNavDropdown {
				li {
					a {
						color: $black;
					}
				}
			}


		}
	}

	.container-1600 {
		display: flex;
		align-items: center;
		overflow: visible;

		.navbar-brand {
			img {
				max-width: 150px;
				width: 100%;
			}
		}

		#navbarNavDropdown {
			margin-left: auto;

			li {
				transition: all .3s ease;

				a {
					padding: 0 .5em;
					margin: 0 .25em;
					color: $black;
					text-transform: uppercase;
				}

				&.current-menu-item {
					a {
						color: $storm-gray;
					}
				}

				&:hover {
					a {
						color: $storm-gray;
					}
				}

				.dropdown-menu {
					border: none;

					li {
						a {
							text-transform: capitalize;
						}
					}
				}
			}
            @include media-breakpoint-down(sm){
                position: absolute;
                top: 100px;
                background-color: $white;
                width: 100%;
                padding: 2em;
                z-index: 999;
                box-shadow: 0 10px 10px 2px rgba($storm-gray, 0.75);
                li{
                    margin-bottom: 1em;
                    .dropdown-menu{
                        margin-left: 1em;
                    }
                }
            }
		}
	}

	.navbar-toggler {
        margin-left: auto;
        outline: none;
        span {
            display: block;
            width: 25px;
            height: 2px;
            border-radius: 2px;
			margin-bottom: 3px;
            background-color: $black;
            transition: all .3s ease;
        }
        &.show-menu{
            span{
                &:nth-child(1){
                    transform: translateY(5px) rotate(45deg) ;
                }
                &:nth-child(3){
                    transform: translateY(-5px) rotate(-45deg) ;
                }
                &:nth-child(2){
                    width: 0;    
                }
            }
        }
	}
}


.page-template-homepage {
	#wrapper-navbar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		.navbar-brand {
			img {
				filter: invert(100%);
                @include media-breakpoint-down(sm){
                    filter: invert(0%);
                }
			}
		}

		.navbar {
			&.scrolled {
				.navbar-brand {
					img {
						filter: invert(0%);
					}
				}
			}
		}

		#navbarNavDropdown {
			margin-left: auto;

			li {
				a {
					color: $white;
					text-transform: uppercase;
                    @include media-breakpoint-down(sm){
                        color: $black;
                    }
				}

				.dropdown-menu {
					border: none;

					li {
						a {
							color: $black;
							text-transform: capitalize;
						}
					}
				}
			}
		}
	}

}
