.page-template-about-me {
	section {
		margin: 0;
	}

	.container-1600 {
		@include media-breakpoint-up(lg) {
			padding: 0 2em;
		}
	}

	.right-side-data {
		min-height: 400px;
		display: flex;
		align-items: center;

		@include media-breakpoint-up (lg) {
			margin-left: 1em;
		}
		@include media-breakpoint-down (md) {
			padding: 0 2em;
		}
	}

	.image-shadow {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 640px;
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: 0 0 10px 2px $grey;

		@include media-breakpoint-down(md) {
			min-height: 75vh;
			margin-bottom: 2em;
			background-position: center;
			box-shadow: none;
		}
	}

	.text-section {
		font-family: $playFair;
		font-size: 5rem;
		font-weight: $font-weight-normal;
		line-height: .8em;
		letter-spacing: normal;
		color: $storm-gray;

		&:after {
			content: '';
			height: 4px;
			width: 50px;
			background-color: $calcio;
			display: block;
			margin-bottom: 20px;


		}
	}


	.desc-section {
		font-family: $playFair;
		font-size: 1.2rem;
		font-weight: $font-weight-regular;
		line-height: 1.25;
		text-align: left;
		color: $storm-gray;

		&:after {
			content: '';
			height: 40px;
			background-image: url(../assets/images/leaf-decor-bottom.svg);
			background-position: left;
			background-size: 25%;
			position: relative;
			display: block;
			text-align: left;
			background-repeat: no-repeat;
			margin: 20px;

			@include media-breakpoint-down (md) {
				display: none;
			}

		}
	}

	.desc2-section {
		font-family: $playFair;
		font-size: 1.2rem;
		line-height: 1.25;
		text-align: left;
		color: $storm-gray;
	}

	.contact-section {
		font-family: $playFair;
		font-size: 1.3rem;
		font-weight: $font-weight-regular;
		line-height: 1.5;
		color: $storm-gray;
	}



}
