.page-template-contact {
    section {
        margin: 0;

    }

    .contact-form {
        .wpcf7 .wpcf7-validation-errors {
            margin: 0;
            height: 100%;
        }
    }

    h3 {
        font-family: $playFair;
        font-size: 4.5rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.8em;
        letter-spacing: normal;
        color: $storm-gray;
        text-align: center;
        padding: .3em;

        @include media-breakpoint-down (md) {
            font-size: 3rem;
        }

        &:after {
            content: '';
            height: 4px;
            width: 50px;
            background-color: $calcio;
            display: block;
            margin: 0.2em auto;

        }

    }

    /* Submit Button CSS Styles */
    .wpcf7 input[type=submit] {
        background: $calcio;
        color: $white-smoke;
        font-size: 1rem;
        display: block;
        width: 100px;
        margin: 0.2em auto;
        cursor: pointer;
        padding: 5px 15px;
        transition: all .3s ease;
        border: 2px solid $calcio;
        font-weight: $font-weight-semi-bold;

        &:hover,
        &:focus {
            background: transparent;
            color: $calcio;
            border: 2px solid $calcio;
            box-shadow: none;
            outline: none;
        }

    }

    .wpcf7 textarea {
        background: transparent;
    }

    /* Label Text Styles */
    .wpcf7 label {
        padding: 0 20px;
        margin-bottom: 2em;

        span.wpcf7-not-valid-tip {
            position: absolute;
            width: 250px;
            padding-left: 5px;
        }

        &:not(last-of-type) {
            &:after {
                content: '';
                height: 1px;
                width: 100%;
                display: block;
                background-color: $storm-gray;
                box-shadow: none;
            }
        }


        .wpcf7-form-control-wrap {
            margin-bottom: 2em;


            &:hover,
            &:focus {
                &:after {
                    box-shadow: 0 0 10px $grey;
                }

            }
        }
    }

    /* Text Input Field Styles */
    .wpcf7 .wpcf7-select,
    .wpcf7 input[type=email],
    .wpcf7 input[type=text],
    textarea {
        border: none;
        background: transparent;
        border-radius: 0;

        &:hover,
        &:focus {
            box-shadow: none;
            border: none;
        }
    }

    textarea {
        border-top: 1px solid $storm-gray;
        border-left: 1px solid $storm-gray;
        border-right: 1px solid $storm-gray;
        transition: all .3s ease;

        &:hover,
        &:focus {
            box-shadow: none;
            border-top: 1px solid $storm-gray;
            border-left: 1px solid $storm-gray;
            border-right: 1px solid $storm-gray;
        }
    }

    .name {
        display: flex;

        br {
            display: none;
        }

        @include media-breakpoint-down (md) {
            flex-direction: column;

        }
    }

}
