.page-template-homepage {
	.wrapper {
		padding-top: 0;
	}

	.main-banner-section {
		height: 100vh;
		background-size: cover;
		background-position: center;

		@include media-breakpoint-up(md) {
			margin-top: -85px;
		}

	}

	.categories-section {
		margin: auto 40px;

		.image-shadow {
			min-height: 100%;
		}

		.col-lg-15 {
			a {
				.image-shadow {
					transition: all .3s ease;

					img {
						transition: all .3s ease;
					}
				}

			}

		}

		.col-lg-15 {
			&:hover {
				text-decoration: none;

				a {
					.image-shadow {
						box-shadow: 0 0 5px 2px rgba(0, 0, 0, .75);

						img {
							transform: scale(1.02);
						}
					}
				}

			}
		}


	}

	.quote-section {
		margin: 100px 0;
		text-align: center;

		p {
			font-family: $playFair;
			font-style: italic;
			font-size: 50px;
			color: #717684;
		}

		p.calcio {
			color: $calcio;
			font-weight: $font-weight-bold;
			font-style: normal;
		}

		&:before {
			content: '';
			height: 60px;
			width: 100%;
			background-image: url(../assets/images/leaf-decor-top.svg);
			background-position: center;
			position: relative;
			display: block;
			text-align: center;
			background-repeat: no-repeat;
			margin-bottom: 2em;
		}

		&:after {
			content: '';
			height: 60px;
			width: 100%;
			background-image: url(../assets/images/leaf-decor-bottom.svg);
			background-position: center;
			position: relative;
			display: block;
			text-align: center;
			background-repeat: no-repeat;
			margin-top: 2em;
		}

	}

	.testimonials-section {
		margin: 0 40px;

		@include media-breakpoint-down (md) {
			margin: 0;
		}

		.title {
			width: 100%;
			text-align: center;
			margin-bottom: 3em;

			.title-h1 {
				font-family: $playFair;
				font-size: 40px;
				font-weight: $font-weight-regular;
				color: $storm-gray;
				text-transform: uppercase;
				line-height: 1.33;
				letter-spacing: 0.8px;
			}

			.title-calcio {
				&:after {
					content: '';
					height: 5px;
					width: 50px;
					background-color: $calcio;
					display: block;
					margin: .5em auto;
				}
			}
		}

		.owl-stage-outer {
			width: 90%;
			margin: 0 auto;

			@media (max-width: 800px) {
				width: 100%;
				position: relative;
				left: 2.75%;
			}
		}

		.owl-theme .owl-nav {
			display: flex;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;

			@media (max-width: 800px) {
				display: none;
			}

			.owl-prev,
			.owl-next {
				width: 45px;
				height: 45px;
				background-color: #d1d1d1;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				transition: all .3s ease;


				span {
					display: block;
					font-size: 2em;
					font-weight: 600;
					color: $white;
					width: auto;
					height: auto;
					line-height: 0;
					position: relative;
					top: -2px;
				}

				&:hover {
					background-color: darken(#d1d1d1, 20%);

					span {
						color: $white;
					}
				}
			}

			.owl-prev {
				margin-right: auto;

				@include media-breakpoint-down(sm) {
					position: relative;
					left: 10%;
				}
			}

			.owl-next {
				margin-left: auto;
			}
		}

		.testimonial-holder {
			background: $white;
			margin: 0 auto;
			padding: 2em;
			max-width: 400px;

			.upper-holder {
				margin-bottom: 2em;

				.description {
					font-family: $playFair;
					font-size: 20px;
					line-height: 27px;
					color: $grey;
				}

			}

			.bottom-holder {
				position: relative;
				bottom: 0em;

				.rating {
					.rating-star {
						font-size: 26px;
						color: $calcio;
					}
				}

				.testimonial-title {
					margin: 0;
					color: $grey;
					font-size: 26px;
					font-family: $os;
				}

				.reviewer {
					color: $grey;
					font-style: italic;
					font-size: 20px;
					font-family: $os;
					font-weight: $font-weight-light;
				}

			}

			@include media-breakpoint-down(md) {
				margin-bottom: 1em;
			}
		}
	}

	.instagram-feed-section {
		margin: 40px 50px 10px;

		.title {
			width: 100%;
			text-align: center;
			margin-bottom: 3em;

			.title-h1 {
				font-family: $playFair;
				font-size: 40px;
				font-weight: $font-weight-regular;
				color: $storm-gray;
				text-transform: uppercase;
				line-height: 1.33;
				letter-spacing: 0.8px;
			}

			.title-calcio {
				&:after {
					content: '';
					height: 5px;
					width: 50px;
					background-color: $calcio;
					display: block;
					margin: .5em auto;
				}
			}
		}
	}

	.contact-me-section {
		.title {
			width: 100%;
			text-align: center;
			margin-bottom: 3em;

			.title-h1 {
				font-family: $playFair;
				font-size: 40px;
				font-weight: $font-weight-regular;
				color: $storm-gray;
				text-transform: uppercase;
				line-height: 1.33;
				letter-spacing: 0.8px;
			}

			.title-leaf {
				&:after {
					content: '';
					height: 60px;
					width: 100%;
					background-image: url(../assets/images/leaf-decor-bottom.svg);
					background-position: center;
					position: relative;
					display: block;
					text-align: center;
					background-repeat: no-repeat;
					margin-top: 10px;
				}
			}
		}

		.contact-form-section {
			.contact-form {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				@include media-breakpoint-down (md) {
					padding: 0 .5em;
				}

				.main-data {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-bottom: 1em;

					@include media-breakpoint-down (md) {
						width: 100%;
					}

					@include media-breakpoint-up (md) {
						flex-direction: row;
					}

					input {
						@include media-breakpoint-up (md) {
							&:first-of-type {
								margin-right: 10px;
							}
						}
					}
				}

				.message-area {
					width: 100%;
				}

				input {
					background: transparent;
					border: none;
					outline: none;
					box-shadow: none;
					padding: .35em 0;
					font-style: italic;

					&:focus,
					&:hover,
					&:active {
						border: none;
						outline: none;
						box-shadow: none;
					}

					@include placeholder {
						font-style: italic;
					}
				}

				text-align: center;

				input[type=submit] {
					max-width: 100px;
					margin: 0 auto;
					color: $calcio;
					border: 1px solid $calcio;
					border-radius: 5px;
					text-transform: capitalize;
					letter-spacing: .35px;
					font-weight: $font-weight-semi-bold;
					transition: all .3s ease;

					&:focus,
					&:hover,
					&:active {
						border: none;
						outline: none;
						box-shadow: none;
						background-color: $calcio;
						color: $white;
					}
				}

				span {
					@include media-breakpoint-down (md) {
						width: 100%;
					}

					&:after {
						content: '';
						height: 1px;
						width: 95%;
						padding: 0 .5em;
						position: relative;
						display: block;
						background-color: rgba($storm-gray, .65);
						transition: all .3s ease;
					}

					&:focus,
					&:hover,
					&:active {
						&:after {
							background-color: $calcio;
							box-shadow: 0 0 5px rgba($calcio, 1);
						}
					}

					&.wpcf7-not-valid-tip {
						text-align: left;
					}
				}
			}
		}

		.wpcf7-validation-errors {
			margin-left: 0;
		}
	}
}
