.page-template-paintings {
	.title {
		width: 100%;
		text-align: center;
		margin-bottom: 3em;

		.title-h1 {
			font-family: $playFair;
			font-size: 40px;
			font-weight: $font-weight-regular;
			color: $storm-gray;
			text-transform: uppercase;
			line-height: 1.33;
			letter-spacing: 0.8px;
		}

		.title-calcio {
			&:after {
				content: '';
				height: 5px;
				width: 50px;
				background-color: $calcio;
				display: block;
				margin: .5em auto;
			}
		}
	}

	.section-paintings {
		.image-wrapper {
			padding: 2em;
		}
	}
}
