.page-template-portfolio {
	.wrapper {
		padding-top: 0;
	}

	.main-banner-section {
		height: 100vh;
		background-size: cover;
		background-position: center;

		@include media-breakpoint-up(md) {
			margin-top: -85px;
		}

		.container-1600,
		.col-12 {
			height: 90%;
			position: relative;
		}

		.data {
			padding: 0 5em;
			color: $white;
			height: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			max-width: 650px;
			margin-right: auto;

			@include media-breakpoint-down (md) {
				align-items: center;
				padding: 0 2em;
				text-align: center;
				margin: 0 auto;
				p{
					line-height: 1.5;
				}
			}

			.title {
				&:after {
					content: '';
					height: 4px;
					width: 50px;
					background-color: $calcio;
					display: block;
					margin: 20px 0;

					@include media-breakpoint-down (md) {
						margin: 10px auto;
					}
				}
			}
		}

		.scroll-down {
			position: relative;
			padding: 2em 5em 0;

			a {
				position: relative;
				height: 100%;

				@include media-breakpoint-down (md) {
					width: 100%;
				}

				span {
					position: absolute;
					bottom: 10px;
					left: 35px;
					width: 24px;
					height: 24px;
					margin-left: -12px;
					border-left: 1px solid $calcio;
					border-bottom: 1px solid $calcio;
					transform: rotate(-45deg);
					box-sizing: border-box;

					@include media-breakpoint-down (md) {
						left: 50%;
						right: 50%;
					}


				}

				p {
					color: $white;
				}
			}

			&:before {
				content: '';
				width: 90%;
				position: absolute;
				top: -2em;
				height: 1px;
				background-color: rgba($white, 0.5);
				display: block;

				@include media-breakpoint-down (md) {
					display: none;
				}

			}

			@include media-breakpoint-down (md) {
				padding: 2em 2em 0;
				text-align: center;
			}

		}
	}
	.layout-section{
		img{
			width: 100%;
		}
		.padding-0{
			padding: 0;
		}
	}
}
