// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.section{
	margin-bottom: 50px;
}

body {
	background: $white-smoke;
    font-family: $playFair;
}

//5 Columns Layout.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.wrapper {
    padding-bottom: 3rem;
}

.container-1600{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}